{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "extends": ["eslint:recommended", "prettier"],
  "plugins": [
    "react",
    "prettier",
    "react-hooks",
  ],
  "globals": { "Cypress": true, "cy": true },
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 9,
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "rules": {
    "prettier/prettier": "error",
    "array-callback-return": "error",
    "callback-return": "error",
    "camelcase": "error",
    "eqeqeq": ["error", "smart"],
    "func-style": ["error", "declaration", { "allowArrowFunctions": true }],
    "global-require": "error",
    "handle-callback-err": "error",
    "no-case-declarations": "off",
    "no-console": "error",
    "no-empty": "warn",
    "no-extra-bind": "error",
    "no-label-var": "error",
    "no-mixed-requires": "error",
    "no-nested-ternary": "error",
    "no-process-env": "error",
    "no-process-exit": "error",
    "no-return-assign": "error",
    "no-return-await": "error",
    "no-self-compare": "error",
    "no-sequences": "error",
    "no-shadow-restricted-names": "error",
    "no-throw-literal": "error",
    "no-undef-init": "error",
    "no-unneeded-ternary": "error",
    "no-unused-expressions": "error",
    "no-unused-vars": [
      "error",
      { "vars": "all", "args": "none", "ignoreRestSiblings": false }
    ],
    "no-use-before-define": ["error", { "functions": false, "classes": false }],
    "no-useless-call": "error",
    "no-useless-computed-key": "error",
    "no-useless-return": "error",
    "no-var": "error",
    "no-void": "error",
    "no-with": "error",
    "object-shorthand": "error",
    "operator-assignment": ["error", "always"],
    "padding-line-between-statements": [
      "error",
      { "blankLine": "always", "prev": "*", "next": "return" }
    ],
    "prefer-const": "error",
    "prefer-promise-reject-errors": "error",
    "prefer-rest-params": "error",
    "prefer-spread": "error",
    "prefer-template": "error",
    "react/jsx-uses-react": "error",
    "react/jsx-uses-vars": "error",
    "react/jsx-no-undef": "error",
    "react/prop-types": ["error"],
    "react-hooks/rules-of-hooks": "error",
    "react/no-unused-prop-types": ["error"],
    "react/jsx-no-literals": ["error"]
  }
}
